*{
    padding: 0;
    margin: 0;
}

$column-count: 12;

@for $i from 1 through $column-count {
    .width-#{$i} {
      width: percentage($i / $column-count);
    }
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.margin-center{
    margin: 0 auto;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.overflow-scroll{
  overflow-x: scroll;
  scroll-behavior: smooth;
}