// -----------------------------------------------
// VARIABLES : COLORS

$service-color: #F1EFFD;
$plans-color1: #FFE7AC;
$plans-color2: #46368B;

// -----------------------------------------------
// VARIABLES : FONTS 16,17,18,20,24,26,32,38

$default-font:'Lama_Sans', 'Sans Serif';

$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-38: 38px;

// -----------------------------------------------
// VARIABLES : FONT-COLORS

$white: #FFF;
$dot: #FEC430;
$t1-color: #A5A5A5;
$t2-color: #191919;
$t3-color: #797979;
$t4-color: #4C4C4C;
$t5-color: #FFF9EA;
$t6-color: #755AE8;

// -----------------------------------------------
// VARIABLES : SPACING 

$spacing-1: 20%;
$spacing-2: 15%;
$spacing-3: 8.5%;
$spacing-between: 10%;
$spacing-btw-txt: 4.5%;
$padding-1: 3%;
$padding-2: 6%;
$padding-3: 7.5%;

// -----------------------------------------------
// VARIABLES : Border-radius
$border-radius: 25px;
$border-radius-2: 40px;

// -----------------------------------------------
// VARIABLES : Box-shadow
$box-shadow: 0px 8px 28px 0px rgba(37, 37, 37, 0.10);
$box-shadow-2: 10px 10px 0px 0px #000;
