header{
    div{

        img{
            width: 100%;
            height: auto;
        }
        .mobile{
            display: block;
        }
        .desktop{
            display: none;
        }
        .logo-top{
            width: 45%;
            top: 4%;
            right: 0%;
        }
        .list{
            width: 10.5%;
            top: 5%;
            left: 5%;
        }
        .youtube{
            display: none;
        }

        nav{
            display: none;
        }

        .overlay{
            top: 20%;
            
            h1,h3{
                padding: 12px;
            }

            button{
                width: 85%;
                margin: 0 auto;
                justify-content: center;
                border-radius: 15px;
                background-color: var(--rise-n-shine-600, #FEC430);
                box-shadow: 0px 8px 28px 0px rgba(37, 37, 37, 0.10);
                display: flex;

                .left-arrow{
                    padding: 12px;
                    width: 10%;
                }
            }

            .arrow{
                width: 40%;
                position: absolute;
                bottom: -130%;
                left: 8%;
            }

            
        }
        .scroll-info{
            bottom: 7%;
            left: 2%;

            div{
                bottom: 10px;
                left: 80%;
                width: 80%;
                .mouse{
                    width: 70%;
                    padding: 5px;
                }
            }

            
        }
        
    }
    
    
}

@media only screen and (min-width: 1024px) {

    img{
        width: 100%;
        height: auto;
    }
    .mobile{
        display: none !important;
    }
    .desktop{
        display: block !important;
    }
    .list{
        display: none;
    }
    .logo-top{
        width: 15% !important;
    }

    nav{
        display: block !important;
        top: 7%;
        left: 16%;
        ul{
            li{
                display: inline-block;
                list-style: none;
                list-style-type: none;
                flex-grow: 1;
            }
        }
    }

    .youtube{
        display: flex !important;
        top: 7%;
        left: 1%;
        p{
            padding-left: $padding-3;
        }
    }

    .overlay{
        h1{
            font-size: $font-size-68;
        }
        h3{
            font-size: $font-size-24;
            width: 50%;
        }
        button{
            width: 20% !important;
            align-items: center;
            h3{
                font-size: $font-size-18;
                color: $t2-color;
            }
        }
    }
    
    .scroll-info{
        bottom: 10% !important;
        left: 35% !important;
        div{
            bottom: 10px;
            left: 80%;
            width: 85%;
            h3{
                font-family: $default-font;
                font-size: $font-size-20;
                color: $white;
            }
            .mouse{
                width: 70%;
                padding: 5px;
            }
        }

        
    }
}
