main{

    overflow-x: hidden;

    .trip-cards{
        gap: 5%;
        justify-content: flex-start;
        .trip-card{
            position: relative;
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 70%;
            img{
                width: 100%;
            }
            .trip-card-txt{
                position: absolute;
                padding: $padding-1;
                bottom: 5%;
                border-radius: 16px;
                width: 83%;
                height: 15%;
                background: var(--White, #FFF);
                backdrop-filter: blur(3px);
                margin-left: 3.5%;
            }
        }
    }

    .service-cards{
        padding-top: $spacing-between;
        border-radius: 25px;
        .service-card{
            padding: $padding-3;
        }
    }

    .plan-cards{
        gap: 10%;
        .plan{
            &:hover{
                background-color: $plans-color2;
            }
            border-radius: $border-radius;   
            padding: $padding-3;
            box-shadow: $box-shadow-2;
            .checklist{
                li{
                    list-style-type: none;
                }
                
            }
            .btn{
                background-color: transparent;
                .left-arrow{
                    padding: 12px;
                    width: 10%;
                }
                h3{
                    padding: $padding-2;
                }
            }
        }
        
    }

    .info{
        .info-card{
            a{
                text-decoration: none;
            }
        }
    }

}

@media only screen and (min-width: 1024px){

    .heading1{
        font-size: $font-size-24;
        padding-top: $padding-2;
    }
    .heading2{
        font-size: $font-size-48;
        padding-bottom: $padding-2;
    }
    .trip-cards{
        gap: 2% !important;
        .trip-card{
            img{
                width: 94%;
            }
            width: 28% !important;
            .trip-card-txt{
                .heading{
                    font-size: $font-size-24;
                }
                .subheading{
                    font-size: $font-size-18;
                }
            }
            
        }
    }

    .service-cards{
        width: 90% !important;
        flex-direction: row;
        padding-top: 0 !important;
        .service-card{
            img{
                width: 77%;
            }
            padding: $padding-2 !important;
            .heading{
                font-size: $font-size-24;
            }
            .subheading{
                font-size: $font-size-18;
            }
        }
    }

    .plan-cards{
        width: 90% !important;
        flex-direction: row-reverse;
        padding-top: 0 !important;
        gap: 5% !important;
        .plan{
            &:hover{
                background-color: $plans-color2;
            }
            padding: $padding-1 !important;
            margin-bottom: 5%;
            .checklist{
                img{
                    width: 10% !important;
                }
            }
            .btn{
                background-color: transparent;
            }
            
        }
    }

    .reviews{
        width: 90% !important;
        flex-direction: row;
        padding-top: 0 !important;
        gap: 5% !important;
        .review-card{
            padding: $padding-1 !important;
            margin-bottom: 5%;
            img{
                width: 30%;
            }
            span{
                img{
                    width: 10%;
                    
                }
            }
            .name{
                font-size: $font-size-24;
            }
            .text{
                font-size: $font-size-18;
            }
        }
        
    }
    
    .contact-us{
        flex-direction: row-reverse;
        width: 90%;
        gap: 5%;
        margin-bottom: 0;
        padding-bottom: $padding-2;
        .forms{
            label{
                font-size: $font-size-24;
            }
            input{
                font-size: $font-size-18;
            }
            textarea{
                font-size: $font-size-18;
            }
            button{
                width: 40%;
                height: 2rem;
                margin-right: 0;
                p{
                    font-size: $font-size-18;
                }
            }
        }
        .info{
            padding: 0;
            .info-card{
                display: flex;
                flex-direction: row-reverse;
                flex-grow: 1;
                align-items: center;    
                img{
                    width: 25%;
                }
                .txt{
                    display: flex;
                    flex-direction: column;
                    .heading{
                        font-size: $font-size-24;
                    }
                    .text{
                        font-size: $font-size-18;
                    }
                }
            }
        }
        
    }
}
  